@page "{id:int}"
@model MyScriptureJournal.Pages.Scriptures.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this entry?</h3>
<div>
    <h4>Scripture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Scripture.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scripture.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scripture.EntryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scripture.EntryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scripture.Book)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scripture.Book)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scripture.ScripturePassage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scripture.ScripturePassage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scripture.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scripture.Note)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Scripture.ID" />
        <input type="submit" value="Delete" class="btn btn-primary" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
